body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-color: white }
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
    nav li 
    {
      display: inline-flex;
  }
  nav a {
      text-decoration: none;
      color: black;
      padding: 10px;
      width: 150px;
  }
  nav li :hover {
      background-color: rgb(253, 158, 32);}

  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }

  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  a:link {
    color: blue }
  a:visited {
    color: #ff000d }
    

  .redes  {
      height: 200px;
      padding: 30px;
    }
    .redes h2
     {
      font-family:gabriola;
      text-align: center;
      font-weight: bold;
}
 
 .sociales a
 { 
  padding: 10px;
 }
  address 
  {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }